= render 'articles/shared/header'
.registbox
  %br
  %br
  %br
  %br
  %br
  %ul.list-group
    新規会員登録
    %li.list-group-item
      =link_to '新規登録', ''
    %li.list-group-item
      =link_to 'ログイン', new_user_session_path
    %li.list-group-item
      =link_to 'Googleで登録する', ''
