%nav.navbar.navbar-light{:style => "background-color: #e3f2fd;"}
  MiniApp
  = link_to 'Home', root_path
  = link_to 'Post', new_article_path
  = link_to 'MyPage', mypages_path
  = link_to 'Signup/Signin', signup_index_path
